/* Dark Mode Overrides */
body.bg-dark {
    background-color: #121212 !important; /* Dark mode background */
    color: #f0f0f0 !important; /* Light text in dark mode */
}

footer {
    color: #f0f0f0 !important; /* Light text color for footer in dark mode */
}

footer a {
    color: #80bfff !important; /* Light link color for footer */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

#home {
    background-color: #f5f5f5;
}

.custom-navbar, .custom-footer {
    background-color: #39333d; 
}

.carousel-container {
    max-width: 800px; 
    margin: 0 auto;   
}

.carousel-inner img {
    width: 100%;      
    height: auto;    
}
