/* Dark Mode Overrides */
body.bg-dark {
    background-color: #121212 !important; /* Dark mode background */
    color: #f0f0f0 !important; /* Light text in dark mode */
}

footer {
    color: #f0f0f0 !important; /* Light text color for footer in dark mode */
}

footer a {
    color: #80bfff !important; /* Light link color for footer */
}

.custom-navbar, .custom-footer {
    background-color: #39333d; 
}

.carousel-container {
    max-width: 800px; 
    margin: 0 auto;   
}

.carousel-inner img {
    width: 100%;      
    height: auto;    
}