.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-navbar, .custom-footer, .custom-button {
    background-color: #39333d; 
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.carousel-container {
    max-width: 800px; 
    margin: 0 auto;   
}

.carousel-inner img {
    width: 100%;      
    height: 545px;    
}

#news-sidebar ul li:hover {
    background-color: #f8f9fa; 
    transition: background-color 0.3s ease;
  }

.subs-custom {
    background-color: #c9d2d6;
}

.custom-footer a:hover {
    text-decoration: underline; 
}

.btn, .list-group-item{
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.btn:hover, .list-group-item:hover {
    background-color: #c9d2d6 !important; 
    color: black;
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
    background-color: #dae7ed !important; 
    color: black;
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-item {
    transition: transform 0.3s ease; 
}

.nav-item:hover {
    transform: scale(1.10); 
}

.nav-link.active {
    text-decoration: underline;
    font-weight: bold !important; 
}

.animation1 {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;
}

.animation2 {
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.7s ease-out;
    transition-delay: 0.4s;
}

.animation3 {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease-out;
    transition-delay: 0.4s;
}

.scroll-animation {
    opacity: 1;
    transform: translateX(0);
}
  
.counter-item:hover {
transform: translateY(-5px);
}

.counter-stat {
color: #39333d; 
}

.custom-background {
    background-color: #c9d2d6;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.card .body {
    flex-grow: 1; 
    font-size: 14px;
    color: #424242;
    padding: 20px;
    font-weight: 400;
}


.card .header {
    color: #424242;
    padding: 20px;
    position: relative;
    box-shadow: none;
}

.card .header h2 {
    font-size: 15px;
    color: #757575;
    position: relative;
}

.card .header h2:before {
    background: #39333d;
}

.card .header h2::before {
    position: absolute;
    width: 20px;
    height: 1px;
    left: 0;
    top: -20px;
    content: '';
}

.custom-card {
    background-color: #dae7ed;
}

i:hover {
    color: #757575;
    transform: scale(1.05); 
}

@media (max-width: 992px) { 
    .navbar-nav .nav-item .buttonHover {
        margin-bottom: 15px; 
    }
}

@media (max-width: 768px) { 
    .carousel-inner img {
        width: 100%;      
        height: auto;    
    }

    .carousel-caption {
      padding: 10px;
      font-size: 0.5rem;
    }

    .carousel-caption h5 {
        font-size: 0.7rem;
    }

    .carousel-caption .btn {
        font-size: 8px ; 
        padding: 2px 3px;
        margin: 0;
        width: auto; 
    }

    .map-responsive {
        overflow: hidden;
        padding-top: 56.25%; 
        position: relative;
    }

    .map-responsive iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .navbar-nav .nav-item .buttonHover {
        margin-bottom: 15px; 
    }
  }
  
